HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.idea/*
source/.idea/*
source/target/*
source/*/target/*
database/*
source/business/target
source/dto/target
source/service/target
source/model/target
source/rest/target
source/rest/target/*
source/business/business.iml
source/shyftclub.iml
source/dto/dto.iml
source/model/model.iml
source/rest/rest.iml
source/service/service.iml
certificates
dependencies
logs
source/pictures/users/48/bookings/5/passports/235355/JPEG_20171205_15480516329367321000038408.jpg
source/pictures/users/18/booking/RIDAZAIDI.PNG
source/pictures/users/RIDAZAIDI.PNG
source/pictures/users/19/booking/RIDAZAIDI.PNG
.classpath
.project
.settings

